<h2 class="title">soldering</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#experience">experience</a></li>
        <li><a href="#utilities">utilities</a></li>
        <li><a href="#recommendations">recommendations</a></li>
    </ul>
</nav>
<br>
<div id="experience">
    <h4 class="subtitle">experience</h4>
    <p>
        ~4 years<br>
    </p>
</div>
<br>
<div id="utilities">
    <h4 class="subtitle">utilities</h4>
    <p>
        copper wick<br>
        desoldering pump<br>
        adjustable soldering station<br>
        lead free solder (at best with flux core)<br>
        flux<br>
        brush & scraper<br>
    </p>
</div>
<br>
<div id="recommendations">
    <h4 class="subtitle">recommendations</h4>
    <p>
        keep your tip clean<br>
        use proper solder @ ~350°C (solder spots should be shiny)<br>
        a good pump is better than desoldering wick<br>
        solder splatters, check your part out / brush over it after soldering<br>
    </p>
</div>