<h2 class="title">hackrf</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#eclipse">eclipse</a></li>
        <li><a href="#codeblocks">codeblocks</a></li>
        <li><a href="#pycharm">pycharm</a></li>
        <li><a href="#idea">idea</a></li>
        <li><a href="#clion">clion</a></li>
        <li><a href="#arduino">arduino</a></li>
        <li><a href="#atom">atom</a></li>
        <li><a href="#android-studio">android studio</a></li>
    </ul>
</nav>
<br>
<div id="eclipse">
    <h4 class="subtitle">eclipse</h4>
    <p>
        different versions for different languages<br>
        not my favourite<br>
        code completion is not the best<br>
    </p>
</div>
<br>
<div id="codeblocks">
    <h4 class="subtitle">codeblocks</h4>
    <p>
        a little worse than eclipse
    </p>
</div>
<br>
<div id="pycharm">
    <h4 class="subtitle">pycharm</h4>
    <p>
        good code completion<br>
        version control integration<br>
        code formatting and a lot of other stuff<br>
        has a free community edition witch fulfills all hobby programmer needs
    </p>
</div>
<br>
<div id="idea">
    <h4 class="subtitle">idea</h4>
    <p>
        can be used for basically any language (mainly using it for java though)<br>
        profiling and coverage<br>
        android sdk integration<br>
        version control integration<br>
        cant suggest using it for android projects (android studio does it better)<br>
    </p>
</div>
<br>
<div id="clion">
    <h4 class="subtitle">clion</h4>
    <p>
        c / c++ ide<br>
        profiling / coverage<br>
        version control<br>
        cmake based<br>
    </p>
</div>
<br>
<div id="arduino">
    <h4 class="subtitle">arduino</h4>
    <p>
        no code completion<br>
        indentation helper<br>
        board / library<br>
        need to load a json via settings to support certain boards<br>
    </p>
</div>
<br>
<div id="atom">
    <h4 class="subtitle">atom</h4>
    <p>
        better code completion than arduino ide<br>
        supports a lot of boards<br>
        highly customizable
    </p>
</div>
<br>
<div id="android-studio">
    <h4 class="subtitle">android-studio</h4>
    <p>
        code completion<br>
        android sdk integration<br>
        version control<br>
        coverage / profiling<br>
        (pretty good for developing apps)
    </p>
</div>
<br>