<h2 class="title">(folger tech) prusa i3</h2>
<p>this was my first 3d printer</p>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#tuning">tuning</a></li>
        <li><a href="#printing">printing</a></li>
    </ul>
</nav>
<br>
<div id="tuning">
    <h4 class="subtitle">tuning</h4>
    <p>
        you should tune your steppers. else your motors will produce more heat and noises.
    </p>
    <h5 id="stepper-driver-tuning">stepper drivers</h5>
    <p>should work in between .4 - .6 V pretty well</p>
    <figure class="image"><img src="/img/driver_ramps.jpg"></figure>
    <p>
        to measure the voltage of your stepper connect your voltmeter + to the potentiometer and the - to the leftest
        lower pin
    </p>
</div>
<br>
<div id="printing">
    <h4 class="subtitle">printing</h4>
    <p>currently prints mirrored for some reason.</p>
    <figure class="image"><img src="/img/prusa_i3.jpg"></figure>
</div>