<h2 class="title">(folger tech) prusa i3</h2>
<p>this was my first 3d printer</p>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#tuning">tuning</a></li>
        <li><a href="#printing">printing</a></li>
    </ul>
</nav>
<br>
<div id="tuning">
    <h4 class="subtitle">tuning</h4>
    <p>
        you'll need to tune at least the stepper drivers
        i recommend leveling by a sensor, since i had a lot of problems with everything vibrating, screws moving and
        thus the heat plate and printing surface leaving its position
    </p>
    <h5 id="stepper-driver-tuning">stepper drivers</h5>
    <p>should work in between .4 - .6 V pretty well</p>
    <figure class="image"><img src="/img/driver_ramps.jpg"></figure>
    <p>
        for measuring connect the potentiometer to + and the ground pin to - of your voltmeter
        adjust and measure again
    </p>
</div>
<br>
<div id="printing">
    <h4 class="subtitle">printing</h4>
    <figure class="image"><img src="/img/prusa_i3.jpg"></figure>
</div>