<h2 class="title">the nodemcu family</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#nodemcuv1">nodemcu v1</a></li>
        <li><a href="#nodemcuv2">nodemcu v2</a></li>
        <li><a href="#projects">projects</a></li>
    </ul>
</nav>
<br>
<div id="nodemcuv1">
    <h4 class="subtitle">nodemcu v1</h4>
    <p>under construction</p>
</div>
<br>
<div id="nodemcuv2">
    <h4 class="subtitle">nodemcu v2</h4>
    <p>
        got wifi, one analog and eleven digital pins<br>
        all libraries included in the arduino ide as well as some external ones work with it<br>
        documentation is located over at <a href="http://arduino-esp8266.readthedocs.io/en/latest/index.html">here</a>
    </p>
    <figure class="image"><img src="/img/esp8266_1.jpg"></figure>
</div>
<br>
<div id="projects">
    <h4 class="subtitle">projects</h4>
    <p>under construction</p>
</div>
<br>
