<h2 class="title">hackrf</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#experience">experience</a></li>
        <li><a href="#tools">tools</a></li>
        <li><a href="#projects">development</a></li>
    </ul>
</nav>
<br>
<div id="experience">
    <h4 class="subtitle">experience</h4>
    <p>
        works under linux and windows<br>
        sweeping works is fast (6ghz in less than one second)<br>
        libhackrf is quiet useful even though the supplied tools actually provide all the functions which are needed for
        most applications
    </p>
</div>
<br>
<div id="tools">
    <h4 class="subtitle">tools</h4>
    <h5>linux</h5>
    <p>
        qspectrumanalyzer<br>
        shinysdr<br>
        gnuradio<br>
    </p>
    <br>
    <h5>windows</h5>
    <p>
        sdrsharp<br>
        others..
    </p>
</div>
<br>
<div id="projects">
    <h4 class="subtitle">projects</h4>
    <p>under construction</p>
</div>
<br>