<h2 class="title">pimax 4k</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#experience">experience</a></li>
        <li><a href="#usage">recommendations</a></li>
        <li><a href="#projects">projects</a></li>
    </ul>
</nav>
<br>
<div id="experience">
    <h4 class="subtitle">experience</h4>
    <p>
        piplay works without any problems with the exception for pi_server.exe<br>
        pi_server.exe crashes sometimes, especially when the device isn't connected or gets disconnected<br>
        the correct nvidia driver actually make a difference (fixes bluescreens / low frame rate)<br>
        render quality found in piplay actually affects the image quality, but apparently does not affect the frame rate<br>
        supplied usb cable for head sensor is too long. tried another cable of the same length didn't work either (usb
        3.0 / 5V, 2A)<br>
        3m usb cable is good enough<br>
        hdmi cable is not removable/exchangeable
    </p>
</div>
<br>
<div id="usage">
    <h4 class="subtitle">usage</h4>
    <p>
        place base station at shoulder level or if higher slightly tilted downwards<br>
        stand ~2m away from the base station<br>
        remove reflective objects facing the base station<br>
        reduce light, radio- and microwaves
    </p>
</div>
<br>
<div id="projects">
    <h4 class="subtitle">development</h4>
    <h5 class="subtitle">linux</h5>
    <p>
        support is lacking<br>
        tried <a href="https://github.com/raysan5/raylib">raylib</a> which looked promising.<br>
        and <a href="https://github.com/OpenHMD/OpenHMD">openhmd</a> with which i could read some hmd informations.<br>
    </p>
    <br>
    <h5 class="subtitle">windows</h5>
    <p>
        great support<br>
        trying to get into unity and blender<br>
        unity is rather easy. vrtk and steamvr / openvr can be used with drag and drop to create a viewable scene <br>
    </p>
</div>
