<h2 class="title">the espressif family</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#esp32">esp32</a></li>
        <li><a href="#projects">projects</a></li>
    </ul>
</nav>
<br>
<div id="esp32">
    <h4 class="subtitle">esp32</h4>
    <p>
        a smaller esp826 with bluetooth<br>
        promiscuous mode for wifi ain't a problem<br>
    </p>
    <figure class="image"><img src="/img/esp32.jpg"></figure>
</div>
<br>
<div id="projects">
    <h4 class="subtitle">projects</h4>
    <p>under construction</p>
</div>
<br>
