<h2 class="title">cad tools i've used - an overview</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#openscad">openscad</a></li>
        <li><a href="#solidpython">solidpython</a></li>
        <li><a href="#solvespace">solvespace</a></li>
        <li><a href="#tinkercad">tinkercad</a></li>
        <li><a href="#freecad">freecad</a></li>
    </ul>
</nav>
<br>
<div id="openscad">
    <h4 class="subtitle">openscad</h4>
    <p>
        text based<br>
        model is viewable<br>
        a few model designs are enough to learn most features<br>
        lots of code
        exports to stl, off, amf, dxf, svg, csg and png
    </p>
    <p><a href="http://www.openscad.org/">official site</a>, <a href="https://github.com/openscad/openscad/">github</a>
    </p>
</div>
<br>
<div id="solidpython">
    <h4 class="subtitle">solidpython</h4>
    <p>
        text based<br>
        model needs to be viewed in openscad<br>
        needs to be compiled twice (python & opencad)<br>
        less code than openscad<br>
        scad file doesn't need to be reloaded after recompiling python code<br>
        as easy to learn as openscad
    </p>
    <p><a href="https://github.com/SolidCode/SolidPython">github</a></p>
</div>
<br>
<div id="solvespace">
    <h4 class="subtitle">solvespace</h4>
    <p>
        drawing based<br>
        not able to make real threads<br>
        first tutorial and some curiosity teaches you basically everything you need to know<br>
        no code<br>
        features/shortcuts can be learned in less than a day<br>
        exports to a heck lot of formats for a heck lot of different purposes
    </p>
    <p><a href="http://solvespace.com">official site</a>, <a href="https://github.com/solvespace/solvespace">github</a>
    </p>
</div>
<br>
<div id="tinkercad">
    <h4 class="subtitle">tinkercad</h4>
    <p>
        drawing based<br>
        can be used without doing the tutorial<br>
        no code<br>
        exports to obj, stl and svg<br>
        also is able to send the model to your printer
    </p>
    <p><a href="https://www.tinkercad.com">official site</a></p>
</div>
<br>
<div id="freecad">
    <h4 class="subtitle">freecad</h4>
    <p>
        drawing based<br>
        able to make threads<br>
        gotta check the <a href="https://www.freecadweb.org/wiki/Getting_started">documentation</a> when creating your
        first few models<br>
        no code<br>
        exports to a heck lot of formats<br>
    </p>
</div>
<br>