<h2 class="title">raspberry pi</h2>
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="#2">2</a></li>
        <li><a href="#3">3</a></li>
        <li><a href="#zero">zero</a></li>
    </ul>
</nav>
<br>
<div id="2">
    <h4 class="subtitle">2</h4>
    pretty ok<br>
    lacking the 2.4 ghz chips<br>
    noticeably slower than the third version
</div>
<br>
<div id="3">
    <h4 class="subtitle">3</h4>
    better than the second version<br>
    has wifi / bluetooth<br>
    need to disable uart to use bluetooth<br>
    fast enough
</div>
<br>
<div id="zero">
    <h4 class="subtitle">zero</h4>
    slower than the second version<br>
    half the size of the second / third version<br>
    has wifi / bluetooth<br>
    need to disable uart to use bluetooth aswell
</div>