<table cellspacing="10">
    <tr>
        <th>cmd</th>
        <th>args</th>
        <th>example</th>
        <th>desc</th>
    </tr>
    <tr>
        <td>help</td>
        <td></td>
        <td>help</td>
        <td>this help text</td>
    </tr>
    <tr>
        <td>ls</td>
        <td>-aR</td>
        <td>ls /home/trig0n</td>
        <td>list directory</td>
    </tr>
    <tr>
        <td>cd</td>
        <td></td>
        <td>cd /home/</td>
        <td>change directory</td>
    </tr>
    <tr>
        <td>cat</td>
        <td></td>
        <td>cat /home/trig0n/.bashrc</td>
        <td>Concatenate file to standard output</td>
    </tr>
</table>
all commands with args have '--help' for detailed usage.
<br>

