html, body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer {
    bottom: 0;
    position: fixed;
    right: 0;
}