@import url('{{fontURL}}');

html, body {
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}

#content {
    overflow: scroll;
    height: 75vh;
}

#content-container {

font-family: {

{
    fontFamily
}
}
}

#navbar-container {

font-family: {

{
    fontFamily
}
}
}